---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro API">
    <div class="hero mt-0 mb-0 pt-0 pb-0">
        <div class="hero-content text-center">
            <div class="max-w-lg">
                <h1 class="text-5xl font-bold bg-clip-text text-white">Astro API</h1>
                <p class="mt-4 text-lg">API template for astrojs!</p>
                <div class="mt-6 text-white">
                    <a href="/api/ping" class="btn btn-ghost px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 mr-2 hover:shadow-md hover:shadow-blue-500">
                        Ping API
                    </a>
                    <a href="/api/mc" class="btn btn-ghost px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 mr-2 hover:shadow-md hover:shadow-blue-500">
                        Minecraft Query
                    </a>
                    <a href="#section-support" class="btn btn-ghost px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 hover:shadow-md hover:shadow-blue-500">
                        Coming Soon
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
	
</style>
